@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text&display=swap);
@import url(https://fonts.googleapis.com/css?family=Monofett&display=swap);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap);

/* font-family: 'Libre Barcode 128 Text', cursive; */
body {
	background-color: #0facaa;
	/* color: black; */
  /* padding: 10px 30px 50px 80px; */
	font-size: 28px;
	font-family: 'Monofett', cursive;
}
h1{
	font-size: 80px;
	margin-top: 5px;
	margin-bottom: 0px;

}

/* image */
img{
    height: 100px;
    width: 100px;
}

table {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
   
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	border: 2px #666 solid;
	text-align: center;
	width: 20%;
}

tr{
    font-family: 'Press Start 2P', cursive;
}

#free, .pickedBG {
	background-color: #f66;
}

.winningBG {
/* 	lets set it to flash or blink or something */
}


/* https://designshack.net/articles/typography/10-more-great-google-font-combinations-you-can-copy/ */